.main {
    background-color: #313338;
    height: 100%;
    position: fixed;
    top: 2.5rem;
    right: 11.9rem;
    left: 15.6rem;
}

.messages {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    /* justify-content: flex-end; */
    top: 2.5rem;
    right: 11.9rem;
    left: 15.6rem;
    bottom: 3.6rem;
}

.messages > :first-child {
    margin-top: auto;
}

::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #1a1c1e;
}
