.body {
    display: flex;
    height: 100vh;
    /* padding-top: 0; */
    background-color: lightblue;
}

.main {
    padding: 0;
    width: 100%;
}

.channel_view {
    height: 100%;
    display: flex;
}