.serverNav {
    width: 3.7rem;
    background: #1E2022;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    padding: 1em;
    position: fixed;
}

.directMessageIcon {
    border-bottom: 2px solid #37383D
}

.fireLogo {
    color: red;
}
