.message {
    padding: 0.8em 1em;
    display: flex;
    gap: 1em;
}

.icon {
    align-self: flex-start;
    height: 30px;
    width: 30px;
}

.message:hover,
.message:focus {
    background: #2c2d32;
}

.textBody {
    color: #DBDEE1;
    line-height: 130%;
    font-weight: 300;
    font-size: 0.78rem;
}

.rightSide {
    width: 100%;
}

.userDetails {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;
}

.userName {
    color: #9B59B6;
    font-size: 0.8rem;
    font-weight: 500;
}

.date {
    font-size: 0.65rem;
    color: #949BA4;
}

.profile_picture {
    margin-top: 4px;
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 100%;
    min-width: 32px;
    max-width: 32px;
}

.buttons {
    margin-left: auto;
    display: flex;
    gap: 0.3em;
}

.reactions {
    display: flex;
    margin-top: 0.3em;
    gap: 0.3em;
}

.reactionButton {
    background: #41444A;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    font-size: 0.7rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.selected {
    background-color: #5e636d;
}

.reactionButton:hover {
    transform: scale(1.08);
    background-color: #5e636d;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.button {
    opacity: 0.5;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.button:hover,
.button:focus {
    opacity: 1;
    transform: scale(1.1);
}