.container {
    border-radius: 100%;
    transition-property: all;
    transition-duration: 300ms;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container:hover,
.container:focus {
    border-radius: 35%;
    cursor: pointer;
}