.headerInfo {
    background: #313338;
    width: 100%;
    height: 2.5rem;
    border-bottom: 1.2px solid rgba(0,0,0,0.3);
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 1em;
    position: fixed;
    left: 15.6rem;
}

.headerTitle {
    font-weight: 600;
    font-size: 0.9rem;
}

.signOutContainer {
    background: #313338;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signOutButton {
    background-color: #5865f2;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.9rem;
}

.signOutButton:hover {
    background-color: #4752c4;
}