.modal {
    padding: 1.5em;
    border-radius: 1em;
    background: #313338;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    overflow-y: scroll;
}

.reactionButton {
    background: #41444A;
    padding: 0.5em 0.7em;
    border-radius: 0.2em;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.reactionButton:hover {
    transform: scale(1.08);
    background-color: #4b4f57;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.buttons {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 0.5em;
}