.channelNav {
    background: #2B2D31;
    width: 11.9rem;
    position: fixed;
    height: 100%;
    left: 3.7rem;
}

.channelName {
    height: 2.5rem;
    background: #2B2D31;
    border-bottom: 1.2px solid rgba(0,0,0,0.3);
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0 1em;
}

.channelName__header {
    font-weight: 600;
    font-size: 0.9rem;
}

.channelName__logo {
    font-weight: 500;
}

.channelOptions {
    padding: 0.8em 0.4em;
}