.container {
    padding: 0.5em;
    border-radius: 0.3em;
    font-size: 0.8rem;
    font-weight: 400;
}

.container:hover,
.container:focus {
    background-color: #37393f;
    cursor: pointer;
}

.text {
    font-weight: 500;
}